
<main href="/" class="text-white p-4 m-2 rounded-sm" th:fragment="content">
  <div class="flex justify-center items-center flex-col mb-24 mt-24" style="background-image: url('/images/h1_hero.png'); background-size: cover; background-position: center;"></div>
    <div class="w-full">
      <div class="w-full h-full flex flex-col justify-center items-center backdrop-blur-sm">
        <span class="text-white mb-3 text-4xl w-1/2 text-center font-medium shadow-black">ENTRENAR CON NOSOTROS NUNCA FUE TAN FACIL
          </span>
        <a href="#precios"
          class="text-white text-5xl hover:ring-4 transition duration-200 ring-red-500 rounded-full hover:scale-110 fa-solid fa-circle-chevron-down"></a>
      </div>
    </div>
  </div>

  <div class="container mt-5 mx-auto">
    <div class="row">
        <div class="col-md-6">
            <!-- Imagen con efecto de cambio -->
            <div class="image-change">
                <img src="/images/nicobernal.jpg" alt="Imagen de ejemplo">
                <div class="overlay">
                    <h1 class="h1nico">TU PUEDESSSSS...</h1>
                    <p class="parrafo_nico">Mente y Cuerpo</p>
                </div>
            </div>
        </div>
        <!-- Agrega más tarjetas o contenido aquí -->
    </div>    

</div>



  <div class="mt-4 text-center">
  <p>&copy; 2023 MapacheGym</p>
  <div class="mt-2">
    <a href="#" class="text-gray-500 hover:text-gray-300">Términos de uso</a>
    <span class="mx-2 text-gray-500">|</span>
    <a href="#" class="text-gray-500 hover:text-gray-300">Política de privacidad</a>
  </div>
</div>
</main>







<script th:fragment="script"></script>